<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="UserConfigFileName" value="UserConfigOptions.xml"/>
    <add key="GhostBotLogFileName" value="GhostBotLog.log"/>
    <add key="DefaultSlackBaseUrl" value="https://hooks.slack.com"/>
    <add key="DefaultGhostBotBaseMessage" value="You have received an IM"/>
    <add key="DefaultTargetSlackChannel" value="/services/"/>
    <add key="DefaultTestingFlag" value="false"/>
    <add key="DefaultBaseResourceLocation" value="Resources"/>
    <add key="DefaultSingleScreenResources" value="SingleScreenResources"/>
    <add key="DefaultMultiScreenResources" value="MultiScreenResources"/>
    <add key="DefaultStartMenuLocation" value="bottom" /> <!-- Value options: bottom, left, right, top -->
    <add key="DefaultPauseTimeInSec" value="150"/> <!-- 2.5 minutes -->
    <add key="DefaultIdleThresholdInSec" value="120"/> <!-- 2 minutes -->
  </appSettings>
</configuration>